.header-navBar {
    background-color: black;
    height: 6rem;
    padding: 0 10rem;
    display: flex;
    align-items: center;
}

@media  screen and (max-width: 535px) {
    .header-navBar {
        padding: 0 2rem;
        height: 4rem;
    }
}