@import '../../styles/Variables.scss';

.header-navBar {
    background-color: $blanco;
    height: $heigth-navbar-large;
    padding: 0 10rem;
    display: flex;
    align-items: center;
    box-shadow: 0px -10px 20px 5px $negro;
}

@media  screen and (max-width: $tablet) {
    .header-navBar {
        padding: 0 2rem;
        height: $heigth-navbar-small;
    }
}